<section class="container dashboard-container">
    <div data-bind="foreach: stores">
        <div class="tile" 
            data-bind="click: $parent.goToStore.bind($parent, $data)">
            <div class="title">
                <h3 data-bind="text: name"></h3>
            </div>
            <div class="content">
                <h5>Sales Category</h5>
                <div data-bind="foreach: sales">
                    <div>
                        <span class="pull-left" data-bind="text: category">
                        </span>
                        <span class="pull-right" data-bind="text: progress + '%'">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>    